.mapLabelContainer {
    position: absolute;
    top: -60px;
    left: -30px;
}
.mapLabel {
    position: absolute;
    top: 15px;
    left: 55px;
    max-width: 130px;
    background-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px 5px 10px;
}

.noCaption {
    display: none;
}

.mapImage {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 60px;

    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4));
}